@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @apply bg-zinc-800 text-zinc-50 h-full max-h-full min-h-screen;

  ul,
  ol {
    list-style: revert;
  }
}

:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: var(--color-zinc-800) !important;
}

html,
body {
  height: 100%;
  margin: 0;
  @apply bg-zinc-800;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.maplibregl-canvas {
  filter: brightness(0.8);
}

.maplibregl-canvas:focus-visible {
  outline: none !important;
}
