@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @apply bg-zinc-800 text-zinc-50 h-full max-h-full min-h-screen;

  ul,
  ol {
    list-style: revert;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}
